:root {
  --main-color: #ffffff;
  --paragraph-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --text-color: rgb(230, 201, 206);
}
.container {
  padding-bottom: 50px;
}
body {
  background-color: rgb(197, 179, 179) !important;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 150px;
}
h1 {
  font-size: 96px !important;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
h1,
h2,
h3 {
  margin: 0;
}
.introduction {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  text-align: center;
  font-size: medium;
}
.social-links {
  padding-top: 17%;
  color: black;
}
.social-links:hover {
  color: white;
}
p {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  border-radius: 5px;
}
.about-paragraph {
  margin: 30px;
}
#contact-heading {
  font-size: 48px;
  margin-top: 50px;
}
.email {
  display: block;
  margin-top: 5px;
  font-size: 28px;
  color: var(--main-color);
}
.email:hover {
  text-decoration: underline;
}
@media (max-width: 400px) {
  h1,
  h2 {
    font-size: 40px !important;
    text-align: center;
  }
  h3 {
    font-size: 28px !important;
  }
  .email {
    font-size: 24px;
  }
  .primary-link {
    display: block;
    text-align: center;
  }
}
